#code_snippet {
    width: 1000px;
    height: 500px;
    margin: 15px 35px 15px;
    padding: 10px;
    background-color: gainsboro;
    border: thin solid black;
    border-radius: 3px;
}

#send_snippet {
    margin-left: 35px;
}